Order Deny,Allow
Deny from all
#Allow from 127.0.0.1

<Files index.html>
    Order Allow,Deny
    Allow from all
</Files>
<Files "">
    Order Allow,Deny
    Allow from all
</Files>

<FilesMatch "^api.php$">
    Order Allow,Deny
    Allow from all
</FilesMatch>

<FilesMatch ".*\.(css|js|swf)$">
    Order Allow,Deny
    Allow from all
</FilesMatch>